In [18]:
import pandas as pd
import numpy as np
from io import StringIO

In [27]:
alldays = pd.DatetimeIndex(start='1.1.17',end='31.12.17',freq='D')
alldays

DatetimeIndex(['2017-01-01', '2017-01-02', '2017-01-03', '2017-01-04',
               '2017-01-05', '2017-01-06', '2017-01-07', '2017-01-08',
               '2017-01-09', '2017-01-10',
               ...
               '2017-12-22', '2017-12-23', '2017-12-24', '2017-12-25',
               '2017-12-26', '2017-12-27', '2017-12-28', '2017-12-29',
               '2017-12-30', '2017-12-31'],
              dtype='datetime64[ns]', length=365, freq='D')

In [20]:
customers = [123, 234, 345, 456, 567, 678, 789, 890]

In [21]:
multiindex = pd.MultiIndex.from_product([customers,alldays],names=['customer','date'])

In [22]:
csvdata = StringIO('''customer,date,a,b,c
123,01.01.17,1,0
234,02.01.17,0,0
345,01.01.17,0,0
456,04.01.17,1,1
567,03.01.17,1,0
678,08.01.17,1,1
789,13.01.17,0,1
890,05.01.17,1,0
123,02.01.17,1,0
234,03.01.17,0,0
345,02.01.17,0,0
456,05.01.17,1,1
567,04.01.17,1,0
678,10.01.17,1,1
789,18.01.17,0,1
890,15.01.17,1,0
123,10.01.17,1,0
234,20.01.17,0,0
345,15.01.17,0,0
456,24.01.17,1,1
567,30.01.17,1,0
678,18.01.17,1,1
789,23.01.17,0,1
890,25.01.17,1,0
123,1.2.17,1,0
234,2.2.17,0,0
345,1.2.17,0,0
456,4.2.17,1,1
567,3.2.17,1,0
678,8.2.17,1,1
789,13.2.17,0,1
890,5.2.17,1,0
123,2.2.17,1,0
234,3.2.17,0,0
345,2.2.17,0,0
456,5.2.17,1,1
567,4.2.17,1,0
678,10.2.17,1,1
789,18.2.17,0,1
890,15.2.17,1,0
123,10.2.17,1,0
234,20.2.17,0,0
345,15.2.17,0,0
456,24.2.17,1,1
567,27.2.17,1,0
678,18.2.17,1,1
789,23.2.17,0,1
890,25.2.17,1,0
123,1.3.17,1,0
234,2.3.17,0,0
345,1.3.17,0,0
456,4.3.17,1,1
567,3.3.17,1,0
678,8.3.17,1,1
789,13.3.17,0,1
890,5.3.17,1,0
123,2.3.17,1,0
234,3.3.17,0,0
345,2.3.17,0,0
456,5.3.17,1,1
567,4.3.17,1,0
678,10.3.17,1,1
789,18.3.17,0,1
890,15.3.17,1,0
123,10.3.17,1,0
234,20.3.17,0,0
345,15.3.17,0,0
456,24.3.17,1,1
567,30.3.17,1,0
678,18.3.17,1,1
789,23.3.17,0,1
890,25.3.17,1,0
''')

In [23]:
# indexer object that facilitates working with multi indices
# see also https://pandas.pydata.org/pandas-docs/stable/advanced.html#using-slicers
idx = pd.IndexSlice

In [24]:
df = pd.read_csv(csvdata,sep=',')
df

    customer      date  a  b   c
0        123  01.01.17  1  0 NaN
1        234  02.01.17  0  0 NaN
2        345  01.01.17  0  0 NaN
3        456  04.01.17  1  1 NaN
4        567  03.01.17  1  0 NaN
5        678  08.01.17  1  1 NaN
6        789  13.01.17  0  1 NaN
7        890  05.01.17  1  0 NaN
8        123  02.01.17  1  0 NaN
9        234  03.01.17  0  0 NaN
10       345  02.01.17  0  0 NaN
11       456  05.01.17  1  1 NaN
12       567  04.01.17  1  0 NaN
13       678  10.01.17  1  1 NaN
14       789  18.01.17  0  1 NaN
15       890  15.01.17  1  0 NaN
16       123  10.01.17  1  0 NaN
17       234  20.01.17  0  0 NaN
18       345  15.01.17  0  0 NaN
19       456  24.01.17  1  1 NaN
20       567  30.01.17  1  0 NaN
21       678  18.01.17  1  1 NaN
22       789  23.01.17  0  1 NaN
23       890  25.01.17  1  0 NaN
24       123    1.2.17  1  0 NaN
25       234    2.2.17  0  0 NaN
26       345    1.2.17  0  0 NaN
27       456    4.2.17  1  1 NaN
28       567    3.2.17  1  0 NaN
29       678    8.2.17  1  1 NaN
..       ...       ... .. ..  ..
42       345   15.2.17  0  0 NaN
43       456   24.2.17  1  1 NaN
44       567   27.2.17  1  0 NaN
45       678   18.2.17  1  1 NaN
46       789   23.2.17  0  1 NaN
47       890   25.2.17  1  0 NaN
48       123    1.3.17  1  0 NaN
49       234    2.3.17  0  0 NaN
50       345    1.3.17  0  0 NaN
51       456    4.3.17  1  1 NaN
52       567    3.3.17  1  0 NaN
53       678    8.3.17  1  1 NaN
54       789   13.3.17  0  1 NaN
55       890    5.3.17  1  0 NaN
56       123    2.3.17  1  0 NaN
57       234    3.3.17  0  0 NaN
58       345    2.3.17  0  0 NaN
59       456    5.3.17  1  1 NaN
60       567    4.3.17  1  0 NaN
61       678   10.3.17  1  1 NaN
62       789   18.3.17  0  1 NaN
63       890   15.3.17  1  0 NaN
64       123   10.3.17  1  0 NaN
65       234   20.3.17  0  0 NaN
66       345   15.3.17  0  0 NaN
67       456   24.3.17  1  1 NaN
68       567   30.3.17  1  0 NaN
69       678   18.3.17  1  1 NaN
70       789   23.3.17  0  1 NaN
71       890   25.3.17  1  0 NaN

[72 rows x 5 columns]

In [25]:
df.date = df.date.apply(lambda x: pd.datetime.strptime(x,'%d.%m.%y'))

In [26]:
df = df.set_index(['customer', 'date']).reindex(multiindex).fillna(0)
df

                       a    b    c
customer date
123      2017-01-01  1.0  0.0  0.0
         2017-01-02  1.0  0.0  0.0
         2017-01-03  0.0  0.0  0.0
         2017-01-04  0.0  0.0  0.0
         2017-01-05  0.0  0.0  0.0
         2017-01-06  0.0  0.0  0.0
         2017-01-07  0.0  0.0  0.0
         2017-01-08  0.0  0.0  0.0
         2017-01-09  0.0  0.0  0.0
         2017-01-10  1.0  0.0  0.0
         2017-01-11  0.0  0.0  0.0
         2017-01-12  0.0  0.0  0.0
         2017-01-13  0.0  0.0  0.0
         2017-01-14  0.0  0.0  0.0
         2017-01-15  0.0  0.0  0.0
         2017-01-16  0.0  0.0  0.0
         2017-01-17  0.0  0.0  0.0
         2017-01-18  0.0  0.0  0.0
         2017-01-19  0.0  0.0  0.0
         2017-01-20  0.0  0.0  0.0
         2017-01-21  0.0  0.0  0.0
         2017-01-22  0.0  0.0  0.0
         2017-01-23  0.0  0.0  0.0
         2017-01-24  0.0  0.0  0.0
         2017-01-25  0.0  0.0  0.0
         2017-01-26  0.0  0.0  0.0
         2017-01-27  0.0  0.0  0.0
         2017-01-28  0.0  0.0  0.0
         2017-01-29  0.0  0.0  0.0
         2017-01-30  0.0  0.0  0.0
...                  ...  ...  ...
890      2017-12-02  0.0  0.0  0.0
         2017-12-03  0.0  0.0  0.0
         2017-12-04  0.0  0.0  0.0
         2017-12-05  0.0  0.0  0.0
         2017-12-06  0.0  0.0  0.0
         2017-12-07  0.0  0.0  0.0
         2017-12-08  0.0  0.0  0.0
         2017-12-09  0.0  0.0  0.0
         2017-12-10  0.0  0.0  0.0
         2017-12-11  0.0  0.0  0.0
         2017-12-12  0.0  0.0  0.0
         2017-12-13  0.0  0.0  0.0
         2017-12-14  0.0  0.0  0.0
         2017-12-15  0.0  0.0  0.0
         2017-12-16  0.0  0.0  0.0
         2017-12-17  0.0  0.0  0.0
         2017-12-18  0.0  0.0  0.0
         2017-12-19  0.0  0.0  0.0
         2017-12-20  0.0  0.0  0.0
         2017-12-21  0.0  0.0  0.0
         2017-12-22  0.0  0.0  0.0
         2017-12-23  0.0  0.0  0.0
         2017-12-24  0.0  0.0  0.0
         2017-12-25  0.0  0.0  0.0
         2017-12-26  0.0  0.0  0.0
         2017-12-27  0.0  0.0  0.0
         2017-12-28  0.0  0.0  0.0
         2017-12-29  0.0  0.0  0.0
         2017-12-30  0.0  0.0  0.0
         2017-12-31  0.0  0.0  0.0

[2920 rows x 3 columns]

In [10]:
# use coloumns a through c for determining whether customer was active that day or not
activity = df[['a','b','c']].apply(any, axis=1)

# not any is used to determine wether customer churned or not. Not any activity means churned.
def notany(x):
    return not any(x)

# use the activity series to determine for each day whether the customer churned in the following n days
def churnNday(activity, n):
    return activity.rolling(n).apply(notany).groupby(level='customer').shift(-n).astype(bool)

In [11]:
churn7d = churnNday(activity, 7)
churn7d.head()

customer  date
123       2017-01-01    False
          2017-01-02     True
          2017-01-03    False
          2017-01-04    False
          2017-01-05    False
dtype: bool

In [12]:
df['churn'] = churnNday(activity, 1)

In [13]:
df['chrun7day'] = churnNday(activity, 7)

In [14]:
# show first 10 days of every customer to validate the churn variables
df.loc[idx[:,:'2017-1-10'],:]

                       a    b    c  churn  chrun7day
customer date
123      2017-01-01  1.0  0.0  0.0  False      False
         2017-01-02  1.0  0.0  0.0   True       True
         2017-01-03  0.0  0.0  0.0   True      False
         2017-01-04  0.0  0.0  0.0   True      False
         2017-01-05  0.0  0.0  0.0   True      False
         2017-01-06  0.0  0.0  0.0   True      False
         2017-01-07  0.0  0.0  0.0   True      False
         2017-01-08  0.0  0.0  0.0   True      False
         2017-01-09  0.0  0.0  0.0  False      False
         2017-01-10  1.0  0.0  0.0   True       True
234      2017-01-01  0.0  0.0  0.0   True       True
         2017-01-02  0.0  0.0  0.0   True       True
         2017-01-03  0.0  0.0  0.0   True       True
         2017-01-04  0.0  0.0  0.0   True       True
         2017-01-05  0.0  0.0  0.0   True       True
         2017-01-06  0.0  0.0  0.0   True       True
         2017-01-07  0.0  0.0  0.0   True       True
         2017-01-08  0.0  0.0  0.0   True       True
         2017-01-09  0.0  0.0  0.0   True       True
         2017-01-10  0.0  0.0  0.0   True       True
345      2017-01-01  0.0  0.0  0.0   True       True
         2017-01-02  0.0  0.0  0.0   True       True
         2017-01-03  0.0  0.0  0.0   True       True
         2017-01-04  0.0  0.0  0.0   True       True
         2017-01-05  0.0  0.0  0.0   True       True
         2017-01-06  0.0  0.0  0.0   True       True
         2017-01-07  0.0  0.0  0.0   True       True
         2017-01-08  0.0  0.0  0.0   True       True
         2017-01-09  0.0  0.0  0.0   True       True
         2017-01-10  0.0  0.0  0.0   True       True
...                  ...  ...  ...    ...        ...
678      2017-01-01  0.0  0.0  0.0   True      False
         2017-01-02  0.0  0.0  0.0   True      False
         2017-01-03  0.0  0.0  0.0   True      False
         2017-01-04  0.0  0.0  0.0   True      False
         2017-01-05  0.0  0.0  0.0   True      False
         2017-01-06  0.0  0.0  0.0   True      False
         2017-01-07  0.0  0.0  0.0  False      False
         2017-01-08  1.0  1.0  0.0   True      False
         2017-01-09  0.0  0.0  0.0  False      False
         2017-01-10  1.0  1.0  0.0   True       True
789      2017-01-01  0.0  0.0  0.0   True       True
         2017-01-02  0.0  0.0  0.0   True       True
         2017-01-03  0.0  0.0  0.0   True       True
         2017-01-04  0.0  0.0  0.0   True       True
         2017-01-05  0.0  0.0  0.0   True       True
         2017-01-06  0.0  0.0  0.0   True      False
         2017-01-07  0.0  0.0  0.0   True      False
         2017-01-08  0.0  0.0  0.0   True      False
         2017-01-09  0.0  0.0  0.0   True      False
         2017-01-10  0.0  0.0  0.0   True      False
890      2017-01-01  0.0  0.0  0.0   True      False
         2017-01-02  0.0  0.0  0.0   True      False
         2017-01-03  0.0  0.0  0.0   True      False
         2017-01-04  0.0  0.0  0.0  False      False
         2017-01-05  1.0  0.0  0.0   True       True
         2017-01-06  0.0  0.0  0.0   True       True
         2017-01-07  0.0  0.0  0.0   True       True
         2017-01-08  0.0  0.0  0.0   True      False
         2017-01-09  0.0  0.0  0.0   True      False
         2017-01-10  0.0  0.0  0.0   True      False

[80 rows x 5 columns]