## Loading the data from BigQuery and saving it to CloudStorage

In [30]:
import google.datalab.bigquery as bq
import pandas as pd
import pandas as pd
import numpy as np
from io import StringIO

In [31]:
#query = 'SELECT int64_field_0, date_field_1, double_field_9, double_field_10, double_field_11, double_field_12, double_field_13 FROM `go-de-internal.democases_go_reply_internal.metro_churn_lstm` WHERE int64_field_0 in (1769501, 1769568, 1769800, 3375481, 2108159, 3375612, 3408413, 3408542, 2108191, 3336993, 3343216, 3343262, 1737658, 689094, 689101, 1737723, 1737737, 1737776, 1770548, 1770580, 1803439, 1737910, 1737951, 3343610, 1738019, 3343693, 1752401, 1803634, 1738109, 1750643, 1738144, 1770919, 1869227, 1836494, 1836511, 1803749, 1836581, 1738283, 1738310, 1738317, 1934930, 1738328, 1934964, 1869431, 1934972, 1934975, 1836673, 1836682, 1869451, 1803929, 1869469, 1869489, 1836723, 1771191, 1771212, 1738523, 1836831, 1738549, 1836854, 1836862, 1869657, 1738639, 1771422, 1869745, 1836981, 1738686, 1935317, 1837035, 1935342, 1869873, 1808052, 1771584, 1771658, 1804427, 1738931, 1738949, 1935567, 1738964, 1935591, 1837295, 1804536, 1935659, 1771825, 1870181, 1935773, 1935824, 1935871, 1935884, 1935895, 1739316, 1739364, 1739366, 1739390, 1739404, 1739426, 1739466, 1739510, 1739589, 1772359, 1936219)'
query = 'SELECT int64_field_0, date_field_1, double_field_9, double_field_10, double_field_11, double_field_12, double_field_13 FROM `go-de-internal.democases_go_reply_internal.metro_churn_lstm` WHERE int64_field_0 in (1769501, 1769568, 1769800, 3375481, 2108159, 3375612, 3408413) ORDER BY int64_field_0, date_field_1'
#query = 'SELECT * FROM `go-de-internal.democases_go_reply_internal.metro_churn_lstm`'
churn = bq.Query(query)
df = churn.execute(output_options=bq.QueryOutput.dataframe()).result()
df.head()

,int64_field_0,date_field_1,double_field_9,double_field_10,double_field_11,double_field_12,double_field_13
0,1769501,2017-01-05,34.94,0.0,34.94,0.00,98.86
1,1769501,2017-01-11,28.88,0.0,28.88,0.00,182.14
2,1769501,2017-01-14,22.57,0.0,22.57,15.24,104.90
3,1769501,2017-01-17,20.02,0.0,20.02,0.00,78.88
4,1769501,2017-01-19,31.06,0.0,31.06,0.00,96.26

In [32]:
#df.to_csv('check.csv')

In [33]:
check = df['date_field_1'].tolist()
check_list = []
for i in range(len(check)-1):
  if check[i] == check[i+1]:
    check_list.append(i)

In [34]:
#df.drop(193, axis=1)
df = df.drop(df.index[check_list])

In [35]:
df.columns = ['customer', 'date', 'promo_sales', 'nf_promo_sales', 'food_promo_sales', 'nf_sales', 'food_sales'] 
#churn.columns = ['customer_key', 'date_of_day', 'transaction_key', 'store_id', 'corporate_abc_cd', 'promo_visit_flag', 'nf_visit_flag', 'food_visit_flag', 'ret_visit_flag', 'promo_sales', 'nf_promo_sales', 'food_promo_sales', 'nf_sales', 'food_sales', 'ret_sales', 'cupr_disc_val_nsp', 'sell_val_nsp', 'sell_qty_colli', 'pieces', 'food_colli', 'nf_colli', 'food_pieces', 'nf_pieces', 'margin', 'food_margin', 'nf_margin', 'distinct_pdt_basket', 'distinct_main_cat_basket', 'div_kitchen_cook_n_table_spend', 'div_seasonal_spend', 'div_bus_n_home_care_spend', 'div_office_n_media_spend', 'div_apparel_spend', 'div_other_nonfood_spend', 'div_dry_spend', 'div_fresh_spend', 'div_ultra_fresh_spend', 'div_other_food_spend', 'div_non_coms', 'dep_prelim_grp_food_spend', 'dep_prelim_grp_nonfood_spend', 'dep_bakery_spend', 'dep_dairy_spend', 'dep_delicatessen_spend', 'dep_deep_frozen_spend', 'dep_meat_spend', 'dep_fresh_fish_spend', 'dep_processed_meat_spend', 'dep_fruits_n_veg_spend', 'dep_flower_n_plants_spend', 'dep_canned_goods_spend', 'dep_edible_grocery_spend', 'dep_confect_n_snacks_spend', 'dep_tobacco_spend', 'dep_spirits_spend', 'dep_wine_spend', 'dep_beer_spend', 'dep_hampers_spend', 'dep_disposable_n_tblware_spend', 'dep_home_care_spend', 'dep_beauty_n_pers_care_spend', 'dep_hot_beverages_spend', 'dep_non_alcohol_drinks_spend', 'dep_home_kitchen_elec_spend', 'dep_home_kitchenware_spend', 'dep_home_tableware_spend', 'dep_pro_cookware_spend', 'dep_pro_tableware_spend', 'dep_gastro_cater_equip_spend', 'dep_bbq_n_charcoal_spend', 'dep_gardening_spend', 'dep_outdoor_furniture_spend', 'dep_indoor_furniture_spend', 'dep_seasonal_dec_spend', 'dep_party_spend', 'dep_outdoor_leisure_spend', 'dep_toys_n_games_spend', 'dep_pers_care_n_health_spend', 'dep_heating_n_ac_spend', 'dep_clean_n_laundry_care_elec_spend', 'dep_clean_n_laundry_care_spend', 'dep_decor_n_signage_spend', 'dep_security_n_safety_spend', 'dep_ship_pack_n_wrap_spend', 'dep_storage_n_handling_spend', 'dep_build_fix_n_maintain_spend', 'dep_office_furniture_spend', 'dep_office_supplies_spend', 'dep_cash_management_spend', 'dep_home_entertain_spend', 'dep_compute_print_comms_spend', 'dep_workwear_spend', 'dep_baby_spend', 'dep_sport_spend', 'dep_home_textiles_spend', 'dep_shoe_lugagge_n_acc_spend', 'dep_menswear_spend', 'dep_womenswear_spend', 'dep_kidswear_spend', 'dep_petrol_spend', 'dep_services_non_food_spend', 'dep_non_coms']
#churn = churn.drop('corporate_abc_cd', axis=1)
df.head()

,customer,date,promo_sales,nf_promo_sales,food_promo_sales,nf_sales,food_sales
0,1769501,2017-01-05,34.94,0.0,34.94,0.00,98.86
1,1769501,2017-01-11,28.88,0.0,28.88,0.00,182.14
2,1769501,2017-01-14,22.57,0.0,22.57,15.24,104.90
3,1769501,2017-01-17,20.02,0.0,20.02,0.00,78.88
4,1769501,2017-01-19,31.06,0.0,31.06,0.00,96.26

In [36]:
alldays = pd.DatetimeIndex(start='1.1.17',end='31.12.17',freq='D')

In [37]:
customers = df['customer'].tolist()
customers = list(set(customers))
customers = sorted(customers)

In [38]:
multiindex = pd.MultiIndex.from_product([customers,alldays],names=['customer','date'])

In [39]:
idx = pd.IndexSlice
idx

In [40]:
df.head()

,customer,date,promo_sales,nf_promo_sales,food_promo_sales,nf_sales,food_sales
0,1769501,2017-01-05,34.94,0.0,34.94,0.00,98.86
1,1769501,2017-01-11,28.88,0.0,28.88,0.00,182.14
2,1769501,2017-01-14,22.57,0.0,22.57,15.24,104.90
3,1769501,2017-01-17,20.02,0.0,20.02,0.00,78.88
4,1769501,2017-01-19,31.06,0.0,31.06,0.00,96.26

In [41]:
df.to_csv('intermediate.csv')

In [42]:
df = pd.read_csv('intermediate.csv')
df = df.drop(["Unnamed: 0"], axis=1)
df.head()

,customer,date,promo_sales,nf_promo_sales,food_promo_sales,nf_sales,food_sales
0,1769501,2017-01-05,34.94,0.0,34.94,0.00,98.86
1,1769501,2017-01-11,28.88,0.0,28.88,0.00,182.14
2,1769501,2017-01-14,22.57,0.0,22.57,15.24,104.90
3,1769501,2017-01-17,20.02,0.0,20.02,0.00,78.88
4,1769501,2017-01-19,31.06,0.0,31.06,0.00,96.26

In [43]:
df.date = df.date.apply(lambda x: pd.datetime.strptime(x,'%Y-%m-%d'))
df.head()

,customer,date,promo_sales,nf_promo_sales,food_promo_sales,nf_sales,food_sales
0,1769501,2017-01-05,34.94,0.0,34.94,0.00,98.86
1,1769501,2017-01-11,28.88,0.0,28.88,0.00,182.14
2,1769501,2017-01-14,22.57,0.0,22.57,15.24,104.90
3,1769501,2017-01-17,20.02,0.0,20.02,0.00,78.88
4,1769501,2017-01-19,31.06,0.0,31.06,0.00,96.26

In [44]:
df = df.set_index(['customer', 'date']).reindex(multiindex, fill_value=0)#.fillna(0)
df.head()

                     promo_sales  nf_promo_sales  food_promo_sales  nf_sales  \
customer date
1769501  2017-01-01         0.00             0.0              0.00       0.0
         2017-01-02         0.00             0.0              0.00       0.0
         2017-01-03         0.00             0.0              0.00       0.0
         2017-01-04         0.00             0.0              0.00       0.0
         2017-01-05        34.94             0.0             34.94       0.0

                     food_sales
customer date
1769501  2017-01-01        0.00
         2017-01-02        0.00
         2017-01-03        0.00
         2017-01-04        0.00
         2017-01-05       98.86

In [45]:
# use coloumns a through c for determining whether customer was active that day or not
activity = df[['promo_sales', 'nf_promo_sales', 'food_promo_sales', 'nf_sales', 'food_sales']].apply(any, axis=1)

# not any is used to determine wether customer churned or not. Not any activity means churned.
def notany(x):
    return not any(x)

# use the activity series to determine for each day whether the customer churned in the following n days
def churnNday(activity, n):
    return activity.rolling(n).apply(notany).groupby(level='customer').shift(-n).astype(bool)

In [46]:
churn7d = churnNday(activity, 7)
churn7d.head()

customer  date
1769501   2017-01-01    False
          2017-01-02    False
          2017-01-03    False
          2017-01-04    False
          2017-01-05    False
dtype: bool

In [47]:
df['churn'] = churnNday(activity, 1)

In [48]:
#df['chrun7day'] = churnNday(activity, 7)

In [49]:
# show first 10 days of every customer to validate the churn variables
df.loc[idx[:,:'2017-1-10'],:]

                     promo_sales  nf_promo_sales  food_promo_sales  nf_sales  \
customer date
1769501  2017-01-01         0.00             0.0              0.00      0.00
         2017-01-02         0.00             0.0              0.00      0.00
         2017-01-03         0.00             0.0              0.00      0.00
         2017-01-04         0.00             0.0              0.00      0.00
         2017-01-05        34.94             0.0             34.94      0.00
         2017-01-06         0.00             0.0              0.00      0.00
         2017-01-07         0.00             0.0              0.00      0.00
         2017-01-08         0.00             0.0              0.00      0.00
         2017-01-09         0.00             0.0              0.00      0.00
         2017-01-10         0.00             0.0              0.00      0.00
1769568  2017-01-01         0.00             0.0              0.00      0.00
         2017-01-02         0.00             0.0              0.00      0.00
         2017-01-03         0.00             0.0              0.00      0.00
         2017-01-04        25.95             0.0             25.95      0.00
         2017-01-05         0.00             0.0              0.00      0.00
         2017-01-06         0.00             0.0              0.00      0.00
         2017-01-07         0.00             0.0              0.00      0.00
         2017-01-08         0.00             0.0              0.00      0.00
         2017-01-09         0.00             0.0              0.00      0.00
         2017-01-10         1.26             0.0              1.26     10.98
1769800  2017-01-01         0.00             0.0              0.00      0.00
         2017-01-02         0.00             0.0              0.00      0.00
         2017-01-03         0.00             0.0              0.00      0.00
         2017-01-04         0.00             0.0              0.00      0.00
         2017-01-05         0.00             0.0              0.00      0.00
         2017-01-06         0.00             0.0              0.00      0.00
         2017-01-07         0.00             0.0              0.00      0.00
         2017-01-08         0.00             0.0              0.00      0.00
         2017-01-09         0.00             0.0              0.00      0.00
         2017-01-10         0.00             0.0              0.00      0.00
...                          ...             ...               ...       ...
3375481  2017-01-01         0.00             0.0              0.00      0.00
         2017-01-02         0.00             0.0              0.00      0.00
         2017-01-03         0.00             0.0              0.00      0.00
         2017-01-04         0.00             0.0              0.00      0.00
         2017-01-05         0.00             0.0              0.00      0.00
         2017-01-06         0.00             0.0              0.00      0.00
         2017-01-07         0.00             0.0              0.00      0.00
         2017-01-08         0.00             0.0              0.00      0.00
         2017-01-09         0.00             0.0              0.00      0.00
         2017-01-10         0.00             0.0              0.00      0.00
3375612  2017-01-01         0.00             0.0              0.00      0.00
         2017-01-02         0.00             0.0              0.00      0.00
         2017-01-03         0.00             0.0              0.00      0.00
         2017-01-04         0.00             0.0              0.00      0.00
         2017-01-05         0.00             0.0              0.00      0.00
         2017-01-06         0.00             0.0              0.00      0.00
         2017-01-07         0.00             0.0              0.00      0.00
         2017-01-08         0.00             0.0              0.00      0.00
         2017-01-09         0.00             0.0              0.00      0.00
         2017-01-10         0.00             0.0              0.00      0.00
3408413  2017-01-01         0.00             0.0              0.00      0.00
         2017-01-02         0.00             0.0              0.00      0.00
         2017-01-03         0.00             0.0              0.00      0.00
         2017-01-04         0.00             0.0              0.00      0.00
         2017-01-05         0.00             0.0              0.00      0.00
         2017-01-06         0.00             0.0              0.00      0.00
         2017-01-07         0.00             0.0              0.00      0.00
         2017-01-08         0.00             0.0              0.00      0.00
         2017-01-09         0.00             0.0              0.00      0.00
         2017-01-10         0.00             0.0              0.00      0.00

                     food_sales  churn
customer date
1769501  2017-01-01        0.00   True
         2017-01-02        0.00   True
         2017-01-03        0.00   True
         2017-01-04        0.00  False
         2017-01-05       98.86   True
         2017-01-06        0.00   True
         2017-01-07        0.00   True
         2017-01-08        0.00   True
         2017-01-09        0.00   True
         2017-01-10        0.00  False
1769568  2017-01-01        0.00   True
         2017-01-02        0.00   True
         2017-01-03        0.00  False
         2017-01-04      228.00   True
         2017-01-05        0.00   True
         2017-01-06        0.00   True
         2017-01-07        0.00   True
         2017-01-08        0.00   True
         2017-01-09        0.00  False
         2017-01-10      241.94   True
1769800  2017-01-01        0.00   True
         2017-01-02        0.00   True
         2017-01-03        0.00   True
         2017-01-04        0.00   True
         2017-01-05        0.00   True
         2017-01-06        0.00   True
         2017-01-07        0.00   True
         2017-01-08        0.00   True
         2017-01-09        0.00   True
         2017-01-10        0.00   True
...                         ...    ...
3375481  2017-01-01        0.00   True
         2017-01-02        0.00   True
         2017-01-03        0.00   True
         2017-01-04        0.00   True
         2017-01-05        0.00   True
         2017-01-06        0.00   True
         2017-01-07        0.00   True
         2017-01-08        0.00   True
         2017-01-09        0.00   True
         2017-01-10        0.00   True
3375612  2017-01-01        0.00   True
         2017-01-02        0.00   True
         2017-01-03        0.00   True
         2017-01-04        0.00   True
         2017-01-05        0.00   True
         2017-01-06        0.00   True
         2017-01-07        0.00   True
         2017-01-08        0.00   True
         2017-01-09        0.00   True
         2017-01-10        0.00   True
3408413  2017-01-01        0.00   True
         2017-01-02        0.00   True
         2017-01-03        0.00   True
         2017-01-04        0.00   True
         2017-01-05        0.00   True
         2017-01-06        0.00   True
         2017-01-07        0.00   True
         2017-01-08        0.00   True
         2017-01-09        0.00   True
         2017-01-10        0.00   True

[70 rows x 6 columns]

In [97]:
df.to_csv('churn_data.csv', index = False)

In [98]:
labels = [('churns', [True,False,True,False,True,False,True])]
df_labels = pd.DataFrame.from_items(labels)
df_labels.to_csv('churn_labels.csv', index = False)
df_labels

   churns
0    True
1   False
2    True
3   False
4    True
5   False
6    True

In [52]:
import datalab.bigquery as bq
import seaborn as sns
import pandas as pd
import numpy as np
import shutil
import tensorflow as tf
print tf.__version__
import os

1.5.0

In [53]:
PROJECT = 'go-de-internal'
BUCKET = 'go-de-internal-johanna'
REGION = 'europe-west1'
REPO = "/content/datalab/demo-cases/churn-prediction/lstm"
os.listdir(REPO)

['training.csv',
 'check.csv',
 'labels.csv',
 'lstm.ipynb',
 'lstm 2.0.ipynb',
 'churn_data.csv',
 'pickels',
 'intermediate.csv',
 'churn_100_customers.csv',
 'churn_100_customers_365_days.csv',
 '.ipynb_checkpoints',
 'data_sets',
 'churn-create-timedependent-data.ipynb',
 'churn-time-dependent-artificial-data.csv',
 'churn_labels.csv',
 'trainer',
 'lstm training.ipynb',
 'churn.ipynb']

In [54]:
# for bash
os.environ['PROJECT'] = PROJECT
os.environ['BUCKET'] = BUCKET
os.environ['REGION'] = REGION
os.environ['REPO'] = REPO

In [55]:
%bash
gcloud config set project $PROJECT
gcloud config set compute/region $REGION

Updated property [core/project].
Updated property [compute/region].

In [56]:
%bash
PROJECT_ID=$PROJECT
AUTH_TOKEN=$(gcloud auth print-access-token)
SVC_ACCOUNT=$(curl -X GET -H "Content-Type: application/json" \
    -H "Authorization: Bearer $AUTH_TOKEN" \
    https://ml.googleapis.com/v1/projects/${PROJECT_ID}:getConfig \
    | python -c "import json; import sys; response = json.load(sys.stdin); \
    print response['serviceAccount']")

echo "Authorizing the Cloud ML Service account $SVC_ACCOUNT to access files in $BUCKET"
gsutil -m defacl ch -u $SVC_ACCOUNT:R gs://$BUCKET
gsutil -m acl ch -u $SVC_ACCOUNT:R -r gs://$BUCKET  # error message (if bucket is empty) can be ignored
gsutil -m acl ch -u $SVC_ACCOUNT:W gs://$BUCKET

Authorizing the Cloud ML Service account service-462605511119@cloud-ml.google.com.iam.gserviceaccount.com to access files in go-de-internal-johanna

  % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed
100   133    0   133    0     0    138      0 --:--:-- --:--:-- --:--:--   138
No changes to gs://go-de-internal-johanna/
No changes to gs://go-de-internal-johanna/labels.csv
No changes to gs://go-de-internal-johanna/training.csv
No changes to gs://go-de-internal-johanna/churn-prediction/
No changes to gs://go-de-internal-johanna/churn-prediction/lstm/a_b
No changes to gs://go-de-internal-johanna/churn-prediction/lstm/
No changes to gs://go-de-internal-johanna/churn-prediction/lstm/a_b/
No changes to gs://go-de-internal-johanna/churn-prediction/mv_ab_model_ads_build_sep.csv
No changes to gs://go-de-internal-johanna/churn-prediction/lstm/a_b/a_b.csv
No changes to gs://go-de-internal-johanna/churn-prediction/neural_net/churn-einzelhandel-test.csv
No changes to gs://go-de-internal-johanna/churn-prediction/neural_net/churn-einzelhandel-train.csv
No changes to gs://go-de-internal-johanna/churn-prediction/neural_net/churn-einzelhandel-valid.csv
No changes to gs://go-de-internal-johanna/churn-prediction/neural_net/churn_trained/export/
No changes to gs://go-de-internal-johanna/churn-prediction/neural_net/churn_trained/
No changes to gs://go-de-internal-johanna/churn-prediction/neural_net/churn-telecommunication.csv
No changes to gs://go-de-internal-johanna/churn-prediction/neural_net/churn_trained/export/saved_model.pb
No changes to gs://go-de-internal-johanna/churn-prediction/neural_net/churn_trained/churn_model.hdf5
No changes to gs://go-de-internal-johanna/churn-prediction/neural_net/churn_trained/export/variables/variables.data-00000-of-00001
No changes to gs://go-de-internal-johanna/churn-prediction/neural_net/churn_trained/export/variables/
No changes to gs://go-de-internal-johanna/churn-prediction/neural_net/churn_trained/export/variables/variables.index
No changes to gs://go-de-internal-johanna/churn-prediction/neural_net/churn_trained/logs/
No changes to gs://go-de-internal-johanna/churn-prediction/neural_net/churn_trained/logs/events.out.tfevents.1520528756.696604c6b0d9
No changes to gs://go-de-internal-johanna/flight-time-estimate/
No changes to gs://go-de-internal-johanna/pattern-recognition/
No changes to gs://go-de-internal-johanna/vehicles_health_demo_180305_180649/413a63e0e47758abd44b25679856780a0346cc2efadb779f70292c1e8ffd12fa/econsumption-0.1.tar.gz
No changes to gs://go-de-internal-johanna/vehicles_health_demo_hyper_param_180305_180703/0712cc9a349f1b7d8b740620452df3c60b430d2647b84bb756e54b883d8f788f/econsumption-0.1.tar.gz
No changes to gs://go-de-internal-johanna/vehilce-health-status//neural-net/vehicles-test.csv
No changes to gs://go-de-internal-johanna/vehilce-health-status//neural-net/vehicles-train.csv
No changes to gs://go-de-internal-johanna/vehilce-health-status/
No changes to gs://go-de-internal-johanna/vehilce-health-status/hyper-param/vehicles-test.csv
No changes to gs://go-de-internal-johanna/vehilce-health-status//neural-net/vehicles-valid.csv
No changes to gs://go-de-internal-johanna/vehilce-health-status/hyper-param/vehicles-train.csv
No changes to gs://go-de-internal-johanna/vehilce-health-status/hyper-param/vehicles-valid.csv
No changes to gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles-test.csv
No changes to gs://go-de-internal-johanna/vehilce-health-status/lindeshow-case-data-all.csv
No changes to gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles-train.csv
No changes to gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles-valid.csv
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/export/Servo/1520273651560/
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/eval/events.out.tfevents.1520273232.cmle-training-master-e97f25bfc7-0-b8t26
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/eval/
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/model.ckpt-1.index
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/export/Servo/1520273651560/variables/variables.data-00000-of-00001
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/model.ckpt-1.meta
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/export/Servo/
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/eval/events.out.tfevents.1520273650.cmle-training-master-e97f25bfc7-0-b8t26
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/checkpoint
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/export/
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/export/Servo/1520273651560/variables/variables.index
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/model.ckpt-2100.data-00000-of-00001
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/export/Servo/1520273651560/saved_model.pb
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/events.out.tfevents.1520273224.cmle-training-master-e97f25bfc7-0-b8t26
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/model.ckpt-2100.index
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/model.ckpt-2100.meta
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/export/Servo/1520273651560/variables/
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/graph.pbtxt
Updated ACL on gs://go-de-internal-johanna/vehilce-health-status/neural-net/vehicles_trained/model.ckpt-1.data-00000-of-00001
No changes to gs://go-de-internal-johanna/

In [57]:
%bash
head -1 $REPO/churn_labels.csv
head -1 $REPO/churn_data.csv

,churns
customer,date,promo_sales,nf_promo_sales,food_promo_sales,nf_sales,food_sales,churn

In [58]:
from google.cloud import storage

DATA_BUCKET='go-de-internal-johanna'
#FILES = ['training.csv', 'labels.csv']

client = storage.Client(project=PROJECT)
bucket = client.get_bucket(DATA_BUCKET)

#for filename in FILES:
#    with open(filename, 'wb') as f:
#        bucket.blob(filename).download_to_file(f)

In [99]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

training = pd.read_csv('churn_data.csv')
labels = pd.read_csv('churn_labels.csv')
training = training.iloc[:,1:] #  remove useless first column
n_users = 7
n_seq = training.shape[0]/n_users
n_features = training.shape[1]
y = np.array(labels)
X = np.array(training).reshape(n_users, n_seq, n_features)
X_train, X_eval, y_train, y_eval = train_test_split(X, y)

In [100]:
import cPickle as pickle

FILES = ['X_train.pkl', 'X_eval.pkl', 'y_train.pkl', 'y_eval.pkl']
ARRAYS = [X_train, X_eval, y_train, y_eval]
for idx, filename in enumerate(FILES):
    with open("pickels/"+filename, 'wb') as f:
        pickle.dump(ARRAYS[idx], f)

In [101]:
!pip install keras

Requirement already satisfied: keras in /usr/local/envs/py2env/lib/python2.7/site-packages
Requirement already satisfied: numpy>=1.9.1 in /usr/local/envs/py2env/lib/python2.7/site-packages (from keras)
Requirement already satisfied: scipy>=0.14 in /usr/local/envs/py2env/lib/python2.7/site-packages (from keras)
Requirement already satisfied: six>=1.9.0 in /usr/local/envs/py2env/lib/python2.7/site-packages (from keras)
Requirement already satisfied: pyyaml in /usr/local/envs/py2env/lib/python2.7/site-packages (from keras)
You are using pip version 9.0.1, however version 9.0.3 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [102]:
from keras.models import Sequential
from keras.layers import Dense, Dropout
from keras.layers import Embedding
from keras.layers import LSTM

def model_fn(
    n_seq, n_features, 
    lstm1_nodes=10, lstm2_nodes=10, mlp1_nodes=10
):
    model = Sequential()
    model.add(LSTM(lstm1_nodes, input_shape=(n_seq, n_features), return_sequences=True))
    model.add(LSTM(lstm2_nodes))
    model.add(Dense(mlp1_nodes, activation='relu', name='last_layer'))
    model.add(Dense(1, activation='sigmoid'))
    
    model.compile(
        loss='binary_crossentropy',
        optimizer='rmsprop',
        metrics=['accuracy']
    )
    
    return model

In [103]:
BATCH_SIZE = 64

print(X.shape[1], X.shape[2])

model = model_fn(X.shape[1], X.shape[2])
print(y_eval)
model.fit(
    X_train, y_train,
    batch_size=BATCH_SIZE, epochs=3,
    validation_data=(X_eval, y_eval)
)

(365, 5)
[[False]
 [ True]]
Train on 5 samples, validate on 2 samples
Epoch 1/3
5/5 [==============================] - 2s 454ms/step - loss: 0.6918 - acc: 0.6000 - val_loss: 0.6909 - val_acc: 0.5000
Epoch 2/3
5/5 [==============================] - 1s 177ms/step - loss: 0.6899 - acc: 0.6000 - val_loss: 0.6929 - val_acc: 0.5000
Epoch 3/3
5/5 [==============================] - 1s 133ms/step - loss: 0.6882 - acc: 0.6000 - val_loss: 0.6923 - val_acc: 0.5000

In [ ]:
X_TRAIN=churn_data.csv
y_TRAIN=churn_labels.csv
X_EVAL=churn_data.csv
y_EVAL=churn_labels.csv
JOB_NAME=example_run_for_demo_lstm
JOB_DIR_GS=gs://go-reply-internal-johanna
TRAIN_STEPS=200
NUM_EPOCHS=1

In [ ]:
%bash
gcloud ml-engine jobs submit training $JOB_NAME \
                                    --stream-logs \
                                    --runtime-version 1.2 \
                                    --job-dir $JOB_DIR_GS \
                                    --package-path trainer \
                                    --module-name trainer.task \
                                    --region us-central1 \
                                    -- \
                                    --train-files $GCS_X_TRAIN $GCS_y_TRAIN \
                                    --eval-files $GCS_X_EVAL $GCS_y_EVAL \
                                    --train-steps $TRAIN_STEPS